.root {
    display: flex;
    flex-direction: column;
}

.board {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    // Override Automatic Minimum Size
    // https://stackoverflow.com/questions/36247140/why-dont-flex-items-shrink-past-content-size
    min-width: 0;
    min-height: 0;

    .board-bar {
        background: rgba(gray, 0.5);
        padding: 8px 15px;

        .board-name {
            font-size: 20px;
            font-weight: bold;
            color:black;
            text-align: center;
            margin-bottom: 0px;
        }
    }

    .board-wrapper {
        display: flex;
        flex-grow: 1;
        overflow-x: auto;

        .board-columns {
            display: flex;
            flex-grow: 1;

            .board-column {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                flex-basis: 0; // to force the columns to all be the same size, regardless of content

                min-width: 300px;
                margin: 50px;
                padding: 25px;

                border-radius: 4px;

                background: rgba(white, 0.5);

                &:not(:first-child) {
                    margin-left: 0;
                }

            }
        }
    }
}