<div class="root">
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
        </div>
    </nav>
</div>

<div class="board">
    <div class="board-bar">
        <p class="board-name">Trello-clone</p>
    </div>

    <div class="board-wrapper">
        <div class="board-columns" cdkDropListGroup>

            <div class="board-column" *ngFor="let board of boards">

                <div class="column-title">{{ board.title }}</div>

                <!-- <div class="task-container" cdkDropList [cdkDropListData]="column.tasks"
                    (cdkDropListDropped)="drop($event)">
                    <div class="task" *ngFor="let item of column.tasks" cdkDrag>{{item}}</div>
                </div>
            </div> -->

            </div>
        </div>
    </div>